/* START - common part for all elements in App.js and children*/
* {
  box-sizing: border-box;
  --custom-size: calc(10px + 2vmin);
}

.app {
  text-align: center;
}
/* END - common part for all elements in App.js and children*/

:focus {
  outline: none;
}

/* START - <header> tag in App.js*/
.app-header {
  background-color: #58cbe7ea;
  display: flex;
  align-items: center;
  height: 8vh;
}
.app-logo {
  height: var(--custom-size);
}
.title-header {
  font-size: var(--custom-size);
  font-weight: bold;
  color: white;
  width: 90%;
}
/* END - <header> tag in App.js*/


/* START - EnterUsername.js*/
.containerEnterUsername {
  width: 60%;
  margin: auto;
  border-radius: 5px;
  background-color: #e8ecd6;
  min-height: 8vh;
}
.inputClass {
  width: 90%;
  text-align: inherit;
  border: 1px solid rgb(48, 24, 16);
  border-radius: 4px;
} 
.buttonClass {
  width: 40%;
  background-color: rgba(155, 151, 151, 0.582);
  border-radius: 5px;
}
/* END - EnterUsername.js*/


/* START - ChatRoom.js*/
.chatContainer { /* contains tags <section> and <aside> as flex children*/
  display: flex;
  justify-content: space-between;
  height: 84vh; /* 8vh already in .app-header and .containerEnterUsername, so sum to be 100vh (8+8+84=100)*/
  /* without height definition here overflow property would not work in .allMessages and .allMembers*/
}
/* START - <section> tag*/
section { /* contains Messages.js (.allMessages) and Input.js (.formForMessageInput) as flex children*/
  flex-basis: 76%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
/* START - Messages.js*/
.allMessages { /*ul*/
  padding: 20px 0; /*otherwise padding-left of 40px is automatically added to unordered list*/
  max-width: 1050px; /*same as for .formForMessage*/
  width: 100%; /*100% from <section>, same as for .formForMessage*/
  list-style: none;
  margin: 0 auto;
  overflow: auto; /*overflow works only for block elements with specified height (here defined in .chatContainer) */
}
.oneMessage { /*li*/
  display: flex;
  margin-top: 10px;
  word-break: break-all;
  white-space: pre-wrap;
}
.oneMessageAnyMember { /*li*/
  text-align: left;
}
.oneMessageCurrentMember { /*li*/
  flex-direction: row-reverse;
  text-align: right;
}
.avatar { /*li>div (1st)*/
  height: 35px;
  min-width: 35px;
  border-radius: 50%;
  margin: 0 10px;
}
.usernameMessage { /*li>div (2nd)*/
  max-width: 420px;
}
.username { /*li>div(2nd)>div(1st)*/
  font-size: 14px;
  color: gray;
  padding-bottom: 4px;
}
.textMessage { /*li>div(2nd)>div(2nd)*/
  padding: 10px;
  border-radius: 6px;
  color: white;
}
.oneMessageAnyMember .textMessage {
  background-color: rgb(70, 128, 236);
}
.oneMessageCurrentMember .textMessage {
  background-color: rgba(44, 33, 26, 0.822);
  text-align: left;
}
/* END - Messages.js*/
/* START - Input.js*/
.formForMessage {
  display: flex;
  width: 100%; /*same as for .allMessages*/
  max-width: 1050px; /*same as for .allMessages*/
  margin: 0 auto 40px;
  /*justify-content would not have effect here, because flex-grow is used in .inputForMessage */
}
.inputForMessage {
  padding: 5px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid rgb(199, 147, 130);
  flex-grow: 1;
}
.inputForSubmit {
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgba(20, 13, 13, 0.58);
  color: white;
  border-radius: 7px;
  margin-left: 10px;
}
/* END - Input.js*/
/* END - <section> tag*/

/* START - <aside> tag*/
aside {
  flex-basis: 22%;
  display: flex; /*not really necessary (because contains only one child .allMembers), but overflow for scrollbar will not work in this child */
}
.allMembers { /*ul*/
  padding: 20px 0; /*otherwise padding-left of 40px is automatically added to unordered list*/
  max-width: 350px;
  width: 100%;
  list-style: none;
  margin: 0 auto 40px; /* 40px is same as from .formForMessage in Input.js */
  overflow: auto; /*overflow works only for block elements with specified height (here defined in .chatContainer) */
}
.oneMember { /*li*/
  display: flex;
  align-items: center;
  margin-top: 10px;
  word-break: break-all;
  white-space: pre-wrap;
}
.currentMemberAvatar { /*li>div (1st)*/
  height: 30px;
  min-width: 30px;
  border-radius: 50%;
  margin: 0 10px;
}
.anyMemberAvatar { /*li>div (1st)*/
  height: 20px;
  min-width: 20px;
  border-radius: 50%;
  margin: 0 15px;
}
.usernameMember { /*li>div (2nd)*/
  font-size: 18px;
  color: gray;
}
/* END - <aside> tag*/
/* END - ChatRoom.js*/